.hero {
    background-color: #2e2f42;
    text-align: center;
    padding: 120px 0;
}

.hero-title {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
}

.hero-button {
    background-color: #4d5ae5;
    color: #ffffff;
    border: none;
    padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}