.section-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
}

.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.portfolio-category {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}